/*
cor de fundo da pagina: nata, #eaf8bf
header, letras e hover colha ouro, #eca400, black/preto, #000000, azul oxford, #001d4a

corante indigo #27476e

fonte1 titulo @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

fonte2 subtitulo/nav @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

fonte3 textos @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --font1: 'Courier Prime', monospace;
    --font2: 'Playfair Display', serif;
    --font3: 'PT Sans', sans-serif;
}

body{
    background-color: #eaf8bf;
}

header{
    background-image: linear-gradient(to bottom, #eca400, #664700);
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    min-height: 70px;
}

h1{
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-family: var(--font1);
    color: #27476e;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-family: var(--font2);
}

nav{
    min-height: 25px;
}

nav > a{
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: smaller;
    color: black;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
    padding: 0px 10px 0px 10px;
}

a:hover{}

main{
    background-color: #27476e;
    text-align: justify;
    border-radius: 8px;
    font-family: var(--font3);
}

/*section{}*/

/*article{}*/

/*p{}*/

/*footer{}*/